<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Marionette Contact Manager</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/jquery-ui-1.10.0.custom.css">

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Contact manager</span>
        </div>
      </div>
    </div>

    <div id="main-region" class="container">
      <p>Here is static content in the web page. You'll notice that it gets
      replaced by our app as soon as we start it.</p>
    </div>

    <div id="dialog-region"></div>

    <script type="text/template" id="contact-list-item">
      <td><%= firstName %></td>
      <td><%= lastName %></td>
      <td>
        <a href='#contacts/<%= id %>' class="btn btn-small js-show">
          <i class="icon-eye-open"></i>
          Show
        </a>
        <a href="#contacts/<%= id %>/edit" class="btn btn-small js-edit">
          <i class="icon-pencil"></i>
          Edit
        </a>
        <button class="btn btn-small js-delete">
          <i class="icon-remove"></i>
          Delete
        </button>
      </td>
    </script>

    <script type="text/template" id="contact-list">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </script>

    <script type="text/template" id="contact-view">
      <h1><%= firstName %> <%= lastName %></h1>
      <p><strong>Phone number:</strong> <%= phoneNumber %></p>
      <a href="#contacts/<%= id %>/edit" class="btn btn-small js-edit">
        <i class="icon-pencil"></i>
        Edit
      </a>
      <button class="btn btn-small js-back">
        <i class='icon-arrow-left'></i>
        Back
      </button>
    </script>

    <script type="text/template" id="missing-contact-view">
      <div class="alert alert-error">This contact doesn't exist!</div>
    </script>

    <script type="text/template" id="contact-form">
      <form>
        <div class="control-group">
          <label for="contact-firstName" class="control-label">First name:</label>
          <input id="contact-firstName" name="firstName" type="text" value="<%= firstName %>" />
        </div>
        <div class="control-group">
          <label for="contact-lastName" class="control-label">Last name:</label>
          <input id="contact-lastName" name="lastName" type="text" value="<%= lastName %>" />
        </div>
        <div class="control-group">
          <label for="contact-phoneNumber" class="control-label">Phone number:</label>
          <input id="contact-phoneNumber" name="phoneNumber" type="text" value="<%= phoneNumber %>" />
        </div>
        <button class="btn js-submit">Save</button>
      </form>
    </script>

    <script type="text/template" id="loading-view">
      <h1><%= title %></h1>
      <p><%= message %></p>
      <div id="myspinner"></div>
    </script>

    <script type="text/template" id="contact-list-layout">
      <div id="panel-region"></div>
      <div id="contacts-region"></div>
    </script>

    <script type="text/template" id="contact-list-panel">
      <button class="btn btn-primary js-new">New contact</button>
    </script>

    <!-- build:js scripts/main.js -->
    <script data-main="scripts/init" src="bower_components/requirejs/require.js"></script>
    <!-- endbuild -->

    <script>document.write('<script src="http://'
        + (location.host || 'localhost').split(':')[0]
        + ':35729/livereload.js?snipver=1"><\/script>');
      </script>
    </body>

  </html>
